@page "/Books"
@inherits ComponentBase
@inject PubHub.Common.Services.IPublisherService PublisherService
@inject Radzen.NotificationService NotificationService
@inject Radzen.DialogService DialogService

<PageTitle>Publisher's books</PageTitle>

@if (Publisher != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">@Publisher.Name books</h1>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" @onclick="() => showCreateModal = true">+ Add book</button>
            </div>
            @if (showCreateModal)
            {
                <CreateBookModal OnClose="() => OnCreateDialogClose()" Publisher="Publisher"></CreateBookModal>
            }
        </div>
        <div class="row text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Publication year</th>
                        <th scope="col">Administration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bookInfo in BookInfos)
                    {
                        <tr>
                            <td>@bookInfo.Title</td>
                            <td>@bookInfo.PublicationDate</td>
                            <td>
                                <div class="combined-item">
                                    <button class="btn btn-warning me-2" @onclick="() => OpenUpdateModal(bookInfo)">Update</button>
                                    <button class="btn btn-danger" @onclick="() => showRemoveModal = true">Remove</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    bool showCreateModal;
    bool showUpdateModal;
    bool showRemoveModal;
    public EventCallback<bool> OnClose { get; set; }

    public List<BookInfoModel>? BookInfos { get; set; } = new();
    private PublisherInfoModel? Publisher { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Publisher = await PublisherService.GetPublisherInfo(TestData.PUBLISHER_ID);
        if (Publisher != null)
        {
            BookInfos = await PublisherService.GetPublisherBooks(Publisher.Id);
        }
    }

    public async Task OpenUpdateModal(BookInfoModel bookInfo)
    {
        await DialogService.OpenAsync<UpdateBookModal>(string.Empty,
               new Dictionary<string, object>() { { "BookInfoModel", bookInfo } },
               new Radzen.DialogOptions() { Width = "0", Height = "0" });
    }

    public async Task OpenRemoveModal(BookInfoModel bookInfo)
    {
        await DialogService.OpenAsync<RemoveBookModal>(string.Empty,
               new Dictionary<string, object>() { { "BookId", bookInfo.Id }, { "BookTitle", bookInfo.Title } },
               new Radzen.DialogOptions() { Width = "0", Height = "0" });
    }

    #region Dialog closing methods.
    private async Task OnCreateDialogClose()
    {
        showCreateModal = false;
        await OnInitializedAsync();
        StateHasChanged();
    }

    private async Task OnUpdateDialogClose()
    {
        showUpdateModal = false;
        await OnInitializedAsync();
        StateHasChanged();
    }

    private async Task OnRemoveDialogClose()
    {
        showRemoveModal = false;
        await OnInitializedAsync();
        StateHasChanged();
    }
    #endregion
}
