@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Policy="Operator">
    <Authorized>
        <ManagePublishers/>
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy="Publisher">
    <Authorized>
        <Books />
    </Authorized>
    <NotAuthorized>
        <h3>You are not logged in.</h3>
    </NotAuthorized>
</AuthorizeView>
