@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Policy="Operator">
    <Authorized>
        <ManagePublishers/>
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy="Publisher">
    <Authorized>
        <Books />
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <NotAuthorized>
        <h3>You aren't signed in.</h3>
    </NotAuthorized>
</AuthorizeView>
