@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="footer text-center">
    <h6 class="mt-1">Copyright PubHub</h6>
</footer>
