<nav class="navbar navbar-expand-sm navbar-toggleable-sm header-template border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand text-white" href=""><b>Pub</b><span style="color: #7E7ECB;"><b>Hub</b></span></a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div @onclick="ToggleNavMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="">
                        <span class="oi oi-home" aria-hidden="true"></span> Front page
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
